@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EcommerceManagementProject.Models.Domain.CategoryModel

<div class="container-fluid px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h4 class="mb-4">Add CATEGORY</h4>
                <form method="post" asp-action="Add" asp-controller="Category">
                    <div class="form-floating mb-3">
                        <input asp-for="CategoryName" type="text" class="form-control" id="floatingInput"
                               placeholder="Category Name">
                        <label asp-for="CategoryName">Category Name</label>
                    </div>

                    <div>
                        <button class="btn btn-primary btn-sm" type="submit">
                            <i class="bi bi-plus-circle"></i>
                            Add
                        </button>
                        <a asp-controller="Category" asp-action="Index" class="btn btn-danger btn-sm float-end" type="submit">
                            <i class="bi bi-arrow-left"></i>
                            Back to List
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
