@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-6">  My New Beautiful Watch</h1>
    <h1 class=" display-5">
        <p class=" text-center text-primary"> In My New So Beautiful Project of My Watch Here Different Types of Watch Details available here </p>
    </h1>
    <p class="text-success" style="font-size:25px"> Thanking You
       
        <br />
        Shalini Raj
       
    </p>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>



    

